


p{
	font-weight:lighter;
	font-family: helvetica;
}


.pad-little
{
	padding-top:50px;
}

body{

}

.whiteonblack
{
	background: #000;
	color: #fff;
}


.jumbotron > p {
	color:white;
	font-family: helvetica;
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
}

.jumbotron > .headertext{
	font-family: myriad pro;
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.jumbotron > .btn-primary{
	border: none;
	border-radius: 0px;
}

.jumbotron > .btn-primary:hover{
	background: #e5e5e5;
	color: #000;
}

.profileimg{
	height: 170px;
	width: 150px;
	padding: 10px;
}

.header{
	background-image: url('../../images/Nature__039548_.jpg');
	background-size:cover;
	padding-top:20%;
	padding-bottom: 10%;
}

.navbar-brand > p {
	font-family: Helvetica;
	font-size: 48px;
	font-weight: bold;
	color: #000;
	padding-left: 20px;

}



.navbar-default .navbar-nav>li{
	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 3px;
	margin-left: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    padding-top: 2px;
    padding-right :25px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-family:helvetica;
    font-weight:normal;


}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
     background: #e7e7e7;
    color : #000;
    border-radius: 5px;
}





.navbar-default .navbar-nav>li:hover {
    background: #e7e7e7;
    color : white;
    border-radius: 5px;

}

.navbar-default .navbar-nav>.active  {
    background: #e7e7e7;
    color : white;
    border-radius: 5px;

}

.postrow {

}

.post{
	margin: 10px;
	width:250px;
	height:305px;
	border:1px solid;
	border-color: #e7e7e7;
	padding: 0px;
}

.post > img {
	width: 100%;
	height: 200px;
}

.p-category {
	font-family: Helvetica;
	font-weight: lighter;
	color: #C1BBBB;
	font-size: 15px;
	text-align: center;

}

.p-title{

	font-family: Helvetica;
	font-weight: lighter;
	color: #000;
	font-size: 17px;
	text-align: center;

}

.p-preview{
	font-family: Helvetica;
	font-weight: lighter;
	color: #000;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	padding: 3px;


}

.post > .btn-primary{
	border: none;
	font-family: helvetica;
	font-size: 12px;
	font-weight: lighter;
	border-radius: 0px;
	
}

.post > .btn-primary:hover{
	font-family: helvetica;

	font-weight: lighter;
	background: #e5e5e5;
	color: #000;
}













