


p{
	font-weight:lighter;
	font-family: helvetica;
}

a {
	text-decoration: none;
	color: #000;

}
a:hover {
	text-decoration: none;
	color: #000;
}

a:visited
{
	text-decoration: none;
	color: #000;

}


.pad-little
{
	padding-top:50px;
}
.pad-more
{
	padding-top:100px;
}


.whiteonblack
{
	background: #000;
	color: #fff;
}


.jumbotron > p {
	color:white;
	font-family: helvetica;
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
}

.jumbotron > .headertext{
	font-family: myriad pro;
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.jumbotron > .btn-primary{
	border: none;
	border-radius: 0px;
}


.jumbotron > .btn-primary:visited{
	
	background: #000;
	color: #fff;
}


.jumbotron > .btn-primary:hover{
	background: #e5e5e5;
	color: #000;
}

.remove-jumbotron-padding .jumbotron{
padding: 0px;

}

.category-header {
	padding: 0px;
	background:#fff;
}
.category-header p{
	color:#000;
}


.category-header img {
	margin: 0px;
	height: 400px;
	width: 822px;
}

.category-header  .btn-primary{
	margin-top: -40px;
	padding:2px;
	font-family: myriad pro;
	font-size: 30px;
	font-weight: normal;
	background: #fff;
	color: #000;
	border: 1px solid #000;
}

.category-header  .btn-primary:hover{
	background: #fff;
	color: #000;
	
}
.category-header  > .btn-primary:visited{
	background: #fff;
	color: #000;
}

.profileimg{
	height: 160px;
	width: 150px;
	padding: 10px;
}

.profileimgtwo{
	height: 110px;
	width: 100px;
	padding-top: 10px;

}

.left-bar{
	 margin: 20px;
}

.left-bar p {
	margin: 0 0 0px;
}

.header{
	background-image: url('../../images/traintrack.jpg');
	background-size:cover;
	padding-top:20%;
	padding-bottom: 10%;
}

.navbar-brand > p {
	font-family: Impact;
	font-size: 48px;
	font-weight: bold;
	color: #000;
	padding-left: 40px;

}



.navbar-default .navbar-nav>li{
	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 3px;
	margin-left: 3px;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	padding-top: 2px;
	padding-right :25px;
	padding-bottom: 5px;
	padding-left: 25px;
	font-family:helvetica;
	font-weight:lighter;


}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #e7e7e7;
	color : #000;
	border-radius: 5px;
}





.navbar-default .navbar-nav>li:hover {
	background: #e7e7e7;
	color : white;
	border-radius: 5px;

}

.navbar-default .navbar-nav>.active  {
	background: #e7e7e7;
	color : white;
	border-radius: 5px;

}

.postrow {

}

.post{
	margin: 10px;
	width:250px;
	height:350px;
	border:1px solid;
	border-color: #e7e7e7;
	padding: 0px;
}

.post > img {
	width: 100%;
	height: 200px;
}

a > .img-responsive{
	height: 200px;
}

.p-category {
	font-family: Helvetica;
	font-weight: lighter;
	color: #C1BBBB;
	font-size: 15px;
	text-align: center;


}

.p-title{

	font-family: Helvetica;
	font-weight: lighter;
	color: #000;
	font-size: 17px;
	text-align: center;
	padding: 3px;

}

.p-preview{
	font-family: Helvetica;
	font-weight: lighter;
	color: #000;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	padding: 3px;


}

.post > .btn-primary{
	border: none;
	font-family: helvetica;
	font-size: 12px;
	font-weight: lighter;
	border-radius: 0px;

}
.post > .btn-primary:visited{
	font-family: helvetica;

	font-weight: lighter;
	background: #000;
	color: #fff;
}

.post > .btn-primary:hover{
	font-family: helvetica;

	font-weight: lighter;
	background: #e5e5e5;
	color: #000;
}


.footer{
	padding: 10px;
	background: #f2f2f2;
}

.footer > p {
	font-weight: lighter;
	font-size: 20px;
	font-family: helvetica;
	color:#000;

}

.ash {
	border-radius: 5px;
	border:1px solid #979797;
	background: #d8d8d8;
	font-family: helvetica;
	font-weight: lighter;
	color: #000;
	padding: 5px;
	margin-top: 3px;
	line-height: 2;
}

.ashtwo {
	border-radius: 5px;
	background: #d8d8d8;
	font-family: helvetica;
	font-weight: lighter;
	color: #000;
	padding: 3px;
}

p > .ash
{
	font-size: 12px;
}

.post a {
	text-decoration: none;
}

.btn-primary:hover{
	color: #fff;
	background: #777;
}

.btn-primary:visited{
	color: #fff;
	background: #000;
}


.content .title{
	font-size: 40px;
	font-family: helvetica;
	font-weight: normal;
	
}

p.body{
	display: block;
	font-family: helvetica;
    font-size: 20px;
    font-weight: lighter;
    line-height: 2;
    text-align: justify;
}


p.body:first-letter {
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 36px;
    font-weight: normal;
}

.thumb-more
{
	border: 1px solid #777;
	margin: 20px;
	padding:5px;
}
.thumb-more img {
	width: 40%;
	height:100%;
	float: left;
	padding-top:0px;
	padding-right:10px;
}
.thumb-more p {
	padding: 4px;
	font-size: 12px;
	
}

.prev-next-links a {
	text-decoration: none;
	color: #000;
}

 .prev-next-links a:hover {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.prev-next-links a:visited {
	
	color: #000;
	text-decoration: none;
}












@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}

.post:hover,.thumb-more:hover
{
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 400ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {




}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	.post {
		
		margin: 10px;
		width:350px;
		height:360px;
		
	}

	.post > img {
		width: 100%;
		height: 240px;
	}

	a > .img-responsive {
		
		width: 100%;
		height: 240px;
	}

	.category-header img {
    margin: 0px;
    height: 250px;
  
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 549px) and (min-width: 480px) {

	.post {
		
		margin-top: 3px;
		margin-left: 10px;
		width:450px;
		height:178px;

		
	}

	a > .img-responsive {
		float: left;
		width: 50%;
		height: 176px;
	}


	.post > img {
		float: right;
		width: 100%;
		height: 178px;
	}

	

	.p-category {
		
		padding-top: 0px;
		padding-right: 3px;
		padding-left: 3px;
		


}

.p-title{
	margin-top: 3px;
	margin-bottom: 2px;
	padding: 0px;

}

.p-preview{
	/*float: left;*/

		padding-top: 1px;
		padding-right: 10px;
		padding-left: 10px;

	


}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 570px) and (min-width: 550px) {

	.post {
		margin: 10px;
		width:230px;
		height:350px;
		
	}

	.post > img {
		width: 100%;
		height: 210px;
	}


}






/* Medium Devices, Desktops */
@media only screen and (min-width : 770px) and (max-width: 855px) {

		.post {
			
		width:200px;
		height:350px;
		
	}

	.post > img {
		width: 100%;
		height: 150px;
	}

	.navbar-right {
		margin-right: -40px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 783px){

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -35px;
    margin-left: 0;
}
}

@media only screen and (min-width:950px ) and (max-width:1100px ){
	.post{
		
		margin-left: 30px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1100px) and (max-width: 1130px) {

.post {
			
		width:200px;
		height:350px;
		
	}

	.post > img {
		width: 100%;
		height: 150px;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1130px) and (max-width: 1259px) {

.post {
			
		width:220px;
		height:350px;
		
	}

	.post > img {
		width: 100%;
		height: 170px;
	}

}










